.c1{
    padding: 30px;
    background-color: aquamarine;
    font-size: 25px;
}
.c2{
    padding: 30px;
    background-color: rgb(132, 176, 241);
    font-size: 25px;
}
.c3{
    padding: 30px;
    background-color: rgb(245, 170, 200);
    font-size: 25px;
}