body{
    background-image: url('flowergif.gif');
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;
    background-position: top right;
    background-position: top center;
    background-position: bottom left;*/
    background-position: center;


}
h1{
    text-align:center;
    /*background-color: lavender;*/
    color:black;
    padding-top:20px;
    padding-bottom: 20px;
}
p{
    font-size: 25px;
    /*letter-spacing: 1.5px;*/
}